<strong>Hi, {{ student }} </strong>

<p>Congrats! Now you are closer to achieve great results!</p>

<p>Your registration is completed. Please, check the details bellow:</p>

<p>
 <strong>Student: </strong> {{ student }} <br />
 <strong>Plan: </strong> {{ plan }} <br />
 <strong>Monthly Fee (US$): </strong> {{ price }},00 <br />
 <strong>Your plan ends in: </strong> {{ end_date }} <br />
 <br />
 <small>
   Welcome to a new way of life! =)
 </small>
</p>
